//variables

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//colors
$color_alabaster: #fafafa;
$color_alto: #dbdbdb;
$color_black_5: rgba(0, 0, 0, 0.05);
$color_black_8: rgba(0, 0, 0, 0.08);
$color_black_10: rgba(0, 0, 0, 0.1);
$color_black_20: rgba(0, 0, 0, 0.2);
$color_black_80: rgba(0,0,0,0.8);
$color_celeste_approx: #cccccc;
$color_concrete_approx: #f3f3f3;
$color_flamingo_approx: #ff5722;
$color_flush_orange_approx: #ff8100;
$color_gallery_approx: #eeeeee;
$color_gravel_approx: #4a4a4a;
$color_jordy_blue_approx: #89c6f2;
$color_mine_shaft_approx: #333333;
$color_suva_gray_approx: #888888;
$color_gallery: #efefef;
$color_white: #ffffff;
$color_white_11: rgba(255, 255, 255, 0.11);
$color_white_70: rgba(255, 255, 255, 0.7);

//breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1000px;
